button {
  background-color: var(--white);
  border:none;
  border-radius: var(--borderRadius);
  //box-shadow: 0 3px 10px 2px var(--disabled);
  font-weight: bold;
  color: var(--secondary-3);
  cursor: pointer;
  padding: 8px 16px;
  transition: all 0.2s ease-in-out;
  &:hover {
    //background-color: var(--secondary-3);
    //color: var(--white);
    box-shadow: 0 3px 10px 2px var(--white);
  }
}
