<div class="body-services-item">
  <i class="fa-brands fa-html5"></i>
  <h4>Développement Web</h4>
  <p>
    Je développe des applications web
    modernes et performantes a partir de zéro avec les
    dernières technologies.
  </p>
  <!--<div class="langages">
    <h5>Langages que j'utilise :</h5>
    <div class="langages_body">
      <span class="langage">HTML5</span>,
      <span class="langage">CSS3</span>,
      <span class="langage">JavaScript</span>,
      <span class="langage">TypeScript</span>,
      <span class="langage">PHP</span>,
      <span class="langage">SQL</span>,
      <span class="langage">C#</span>,
      <span class="langage">Langage C</span>,
      <span class="langage">Java</span>,
      <span class="langage">Python</span>,
      <span class="langage">Rust</span>,
      <span class="langage">Dart</span>
    </div>
  </div>
  <div class="framwork">
    <h5>Frameworks que j'utilise :</h5>
    <div class="framwork_body">
      <span class="framwork">Angular</span>
      <span class="framwork">Symfony</span>
      <span class="framwork">Laravel</span>
      <span class="framwork">NodeJS</span>
      <span class="framwork">Express</span>
      <span class="framwork">Flask</span>
      <span class="framwork">Spring</span>
      <span class="framwork">Flutter</span>
      <span class="framwork">Android Studio</span>
    </div>
  </div>-->
</div>

