.container {
  display: flex;
  flex-direction: column;
  //height: 100%;
  padding: 1.4rem;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  color: var(--white);

  .logo {
    img {
      width: 70px;
      object-fit: contain;
    }
  }

  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    a {
      margin: 0 0.5rem;
      color: var(--white);
      font-size: 1.1rem;
      border: 2px solid var(--secondary);
      border-radius: 50%;
      height: 2rem;
      width: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      &:hover {
        background: var(--secondary);
        color: var(--primary);
      }
    }
  }
  .copy {
    margin-bottom: 0;

    p {
      margin-bottom: 0;

      i {
        color: var(--secondary);
        margin-right: 0.5rem;
      }
    }
  }
}
