<div class="dev">
  <h6>En mode développement</h6>
  <h6>En mode développement</h6>
  <h6>En mode développement</h6>
  <!--    <mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
</div>
<div class="layout">
  <div class="header"
        [ngClass]="{'displayed': isDisplayed}"
  >
    <app-header (isDisplayed)="isDisplayed = $event"></app-header>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>

