@import 'assets/scss/themes/index';
@import url('https://fonts.cdnfonts.com/css/europa-title');
@import url('https://fonts.cdnfonts.com/css/eurostile-extended');
//@import url('https://fonts.cdnfonts.com/css/europa');

body {
  font-family: 'Eurostile Extended', sans-serif !important;
  margin: 0 !important;
  //background-image: url("assets/img/bg2.jpeg");
  //background-repeat: no-repeat;
  //background-size: cover;
  //background-color: var(--white);
  background: var(--background);
  backdrop-filter: blur(25px);

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Europa Title', sans-serif;
    color: var(--white);
  }

  .body-services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    contain: content;

    //color: var(--black);
    border-radius: var(--borderRadius);
    border: solid 1px var(--disabled);
    //box-shadow: 0 3px 10px -8px var(--shadow);
    //width: 100%;

    .body-services-item {
      display: flex;
      flex-direction: column;
      border-right: solid 1px var(--primary-4);
      align-items: center;
      padding: 3.3rem 2.3rem;
      height: 100%;
      //filter: drop-shadow(0 0 0.55rem var(--secondary)) drop-shadow(0 0 0.61rem var(--primary));
      h4 {
        margin-bottom: 2rem;
      }
      p {
        margin-top: 0;
        text-align: center;
        font-weight: lighter;
      }
      i {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 60px;
        background: var(--primary);
        color: var(--white);
        border-radius: 50%;
      }
      &.last{
        border-right: none;
      }
    }

    @media screen {
      @media (max-width: 768px) {
        flex-direction: column;
        .body-services-item {
          border-right: none;
          border-bottom: solid 1px var(--primary-4);
          padding: 1rem 2rem;
          width: -webkit-fill-available;
          text-align: center;
          height: auto;
          h4 {
            font-size: 1.5rem;
          }
          p {
            font-size: 1rem;
          }
          i {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
