<div class="container">
  <div class="head">
    <div class="head_main">
<!--      <h1>Développeur Full Stack, Formateur, Consultant & Mentor</h1>-->
<!--      <p>Je développe et code des applications simples et complexes, et j'adore ça !</p>-->
      <img class="logo" src="assets/img/mf-avatar.svg" alt="logo">
    </div>
    <div class="hero_device">
      <img  src="assets/img/hero-devices.svg" alt="logo">
    </div>
  </div>
  <div class="body">
    <div class="body_main_text">
      <h3>Salut, je suis Zack, Ravi de vous rencontrer !</h3>
      <p>
        <span>
          Depuis le debut de mon parcours en tant que développeur web,
          j'ai toujours été passionné par la création d'interfaces et d'expériences
          utilisateur intuitives et dynamiques.
        </span>
        <span>
          J'ai commencé à coder il y a 5 ans,
          et j'ai eu la chance de travailler avec des entreprises de toutes tailles,
          allant de startups locales à des entreprises multinationales.
        </span>
      </p>
    </div>
    <div class="body_services">
      <div class="body-services">
        <app-dev-service></app-dev-service>
        <app-formation-service></app-formation-service>
        <app-mentor-service></app-mentor-service>
      </div>
    </div>
    <div class="body_projects">
      <h2>Mes projets récents</h2>
      <p>
        Voici quelques projets récents sur lesquels j'ai travaillé.
        Vous voulez en savoir plus ? <a>Contactez-moi directement.</a>
      </p>
      <div class="body_projects_list">
        <div class="project_item">
          <div class="project_item_img"><img src="assets/img/bg.jpg" alt="bg"></div>
        </div>
        <div class="project_item">
          <div class="project_item_img"><img src="assets/img/bg2.jpeg" alt="bg"></div>
        </div>
        <div class="project_item">
          <div class="project_item_img"><img src="assets/img/bg.jpg" alt="bg"></div>
        </div>
        <div class="project_item">
          <div class="project_item_img"><img src="assets/img/bg2.jpeg" alt="bg"></div>
        </div>
        <div class="project_item">
          <div class="project_item_img"><img src="assets/img/bg.jpg" alt="bg"></div>
        </div>
        <div class="project_item">
          <div class="project_item_img"><img src="assets/img/bg2.jpeg" alt="bg"></div>
        </div>
      </div>
    </div>
  </div>
</div>
